.my-page-container {
  display: grid;

  grid-template-columns: 1fr 0.8fr;

  grid-template-areas:
    "profile area"
    "alarm edit"
    "alarm log";

  gap: 24px;
}

.my-info {
  grid-area: profile;
}

.my-section {
  grid-area: area;
}

.alert-setting {
  grid-area: alarm;
}

.my-info-change {
  grid-area: edit;
}

.recent-work-logs{
  grid-area: log;
}